{% extends 'base.html' %}

{% block body %}
<div class="card text-center">
    <div class="card-header">
      Kromka
    </div>
    <div class="card-body">
      <h5 class="card-title">Kromkaga klent qo'shish</h5>
      <p class="card-text">Qo'shish uchun bosing 👇</p>
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Yengi klent</button>

    </div>
  </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New client</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="content-section">
                <form method="post" action="{% url 'work:create-client' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-outline-info" type="submit">Joylash</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}